# Django secret key
DJANGO_SECRET_KEY=''

# Debug (set to False in production)
DEBUG=True

# PostgreSQL DB credentials (use your actual values)
DATABASE_URL=''

# Redis for Celery broker
REDIS_URL=''

YOUTUBE_API_KEYS= <api-key-1>, <api-key-2>

SEARCH_QUERY='how to tea'